body{
    margin: 0;
}
.wrapper{
    border:  1px solid #f00;
    padding: 12px;
    width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto ;
    display: flex;
}

.item{
    height: 100%;
    background-color: green;
    margin: 2px;
}

.aside{
    width: 330px;
}
.aside ul{
    list-style-type: none;
    width: 330px;
}
.main{
    flex: 1;
}

